.destacados{
    padding: 15px 53px;

    &_title {
        font-weight: 600;
        font-size: 3.6rem;
    }

    img{
        width: 100%;
        height: 279px;
        object-fit: cover;
    
    }

    .btn-seeMore{
        width: 150px;
        height: 40px;
        margin: 0 auto;
        border: none;
        background-color: #f5d012;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
        margin-top: 50px;
        margin-bottom: 40px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title {
        text-align: center;
        margin: 25px 0;
        font-family: Ubuntu, 'PT Sans', Verdana, sans-serif;
        letter-spacing: 2px;
        font-size: 25px;
    }
    
    .title span {
        color: #e18255;
    }
    
    .title img {
        width: 400px;
        margin: 25px 0;
    }
    
    .article-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 35px;
    }
    
    .article-container {
        padding: 0 10px;
    }
    
    .article-container h2 {
        color: var(--color-titulo);
        font-size: 22px;
        margin-bottom: 10px;
        font-weight: 700;
    }
    
    .img-container {
        overflow: hidden;
    }
    
    .img-container img {
        border-radius: 15px;
        cursor: pointer;
    }
    
    .img-container img:hover {
        transform: scale(1.3);
        transition: transform 0.6s ease-in-out;
    }
    
    .img-container:hover {
        border-radius: 15px;
    }
    
    .article-body {
        margin-top: 20px;
        margin-left: 15px;
    }
    
    .article-container p {
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: 300;
        line-height: 25px;
    }
    
    .article-footer span {
        color: #8a8a8a;
        font-size: 14px;
        font-weight: 500;
    }
    
    .categories {
        margin: 2rem auto;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
    
    .btn-category {
        border: none;
        background-color: #f5d012;
        padding: 9px 18px;
        font-weight: 800;
        text-transform: uppercase;
        border-radius: 6px;
        transition: 0.4s;
        width: 125px;
        height: 38px;
    }
    
    .btn-category:hover {
        background-color: #26b7e3;
    }
    
    .btn-category:last-child {
        margin-right: 0;
    }
    
    @media (max-width: 520px) {
        .title h1 {
            font-size: 40px;
        }
    
        .title img {
            width: 250px;
        }
    
        .article-list {
            grid-template-columns: 1fr;
            gap: 45px;
        }
    
        .article-container {
            padding: 0 15px;
        }
    
        .article-body {
            margin-top: 10px;
            margin-left: 10px;
        }
    
        .article-container h2 {
            font-size: 18px;
        }
    
        .article-container p {
            font-size: 13px;
        }
    
        .article-footer span {
            font-size: 12px;
        }
    
        .categories {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 5px;
            margin-left: 10px;
            margin-right: 10px;
        }
    
        .btn-category {
            margin: 5px;
        }
    }
}

@media screen and (min-width: 0) and (max-width: 863px){
    .destacados{
        padding: 15px 15px;

        &_title {
            font-weight: 600;
            font-size: 2.6rem;
        }
    }
    

}