.skills{
    background-color: #f5d012;
    padding: 10px 53px;
    text-align: center;
    display: flex;
    justify-content: space-between;

    &_title{
        font-weight: 600;
        font-size: 3.6rem;
    }

    &_box {
        display: flex;
        flex-wrap: wrap;
        gap: 35px;
        align-content: flex-start;
        justify-content: center;
    }

    &_box1 {
        width: 600px;
        text-align: left;

        p {
            width: 378px;
            margin-top: -30px;
        }        
    }

    &_box2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        margin-top: 40px;
        width: 640px;
    }

    &_details {
        width: 100%;
        border-top: 1.2px solid #555454;
        padding: 25px 15px;
    }

    &_mix {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 9px;
    }

    &_icons {
        width: 35px;
        height: 35px;
    }

    &_btn {
        border: none;
        border-radius: 50px;
        padding: 8px;
        width: 35px;
        height: 35px;
        background-color: #4cc7d0;
        position: relative;
        float: right;
        transition: 0.4s;
    }

    &_btn:hover{
        background-color: #EFEFF2;
    }
}