.skills{
    background-color: #f5d012;
    padding: 10px 53px;
    text-align: center;


    &_title{
        font-weight: 600;
        font-size: 3.6rem;
    }

    &_box {
        display: flex;
        flex-wrap: wrap;
        gap: 35px;
        align-content: flex-start;
        justify-content: space-around;
        margin: 50px 0;
    }

    &_box1 {
        text-align: left;
        display: flex;
        flex-direction: column;     
    }
    &_text1 {
        width: 378px;
        margin-top: -30px;
    }   
    
    &_text2{
        width: 540px;
    }

    &_details {
        border-top: 1.2px solid #555454;
        padding: 25px 15px;
    }

    &_mix {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 9px;
    }

    &_icons {
        width: 35px;
        height: 35px;
    }

    &_btn {
        border: none;
        border-radius: 50px;
        padding: 8px;
        width: 35px;
        height: 35px;
        background-color: #4cc7d0;
        position: relative;
        float: right;
        transition: 0.4s;
        cursor: pointer;
    }

    &_btn:hover{
        background-color: #EFEFF2;
    }
}
@media screen and (min-width: 0) and (max-width: 863px){
    .skills{
        padding: 10px 15px;

        &_box{
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
        }

        &_box1{
            width: 100%;
            display: block;
        }

        &mix{
            width: 100%;
        }

        &_text2{
            width: 100%;
        }

        &_btn {
            border: none;
            border-radius: 50px;
            padding: 8px;
            width: 35px;
            height: 35px;
            background-color: #4cc7d0;
            position: inherit;
            float: none;
            transition: 0.4s;
            cursor: pointer;
        }
    }
}