.about{
    background-color: #e8e8e8;
    padding: 25px 53px;
    text-align: center;

    &_boxs {
        display: flex;
        flex-wrap: wrap;
        gap: 35px;
        align-content: flex-start;
        justify-content: space-around;
        margin: 50px 0;
    }

    &_box {
        text-align: left;
        display: flex;
        flex-direction: column;     
    }

    &_title {
        font-weight: 600;
        font-size: 3.6rem;
    }

    &_icons{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 35px;
        align-items: center;
        margin-top: 15px;
    }

    &_icon{
        width: 82px;
    }
    &_text1 {
        width: 378px;
        margin-top: -30px;
    }   
    
    &_text2{
        width: 540px;
    }

    &_details {
        border-top: 1.2px solid #555454;
        padding: 25px 15px;
    }

    &_mix {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 9px;
    }

    &_icons {
        width: 35px;
        height: 35px;
    }

    &_btn {
        border: none;
        border-radius: 50px;
        padding: 8px;
        width: 35px;
        height: 35px;
        background-color: #4cc7d0;
        position: relative;
        float: right;
        transition: 0.4s;
        cursor: pointer;
    }

    &_btn:hover{
        background-color: #EFEFF2;
    }

    &_number{
        background-color: #f5d012;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}