.header{
    background-color: #ffffff;
    height: 100%;
    margin-bottom: 50px;

    &_logo{
        width: 250px;
        margin-left: 30px;
    }

    &_nav{
        background-color: #ffffff;
        color: #555454;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 11px;

    margin-bottom: 15px;

    }

    &_links {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        padding: 7px;
    }

    &_link{
        font-family: "Poppins", sans-serif;
        text-decoration: none;
        color: #555454;
        font-weight: 500;
        padding: 7px 17px;
        transition: 0.4s;
    }

    &_link:hover{
        background-color: #f5d012;
        border-radius: 4px;
    }

    &_box{
        display: flex;
        justify-content: space-around;
        padding: 15px 53px;
        gap: 4px;
        flex-wrap: wrap;
        margin-top: 61px;
    }

    &_little-box{
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 7px;
        padding-right: 57px;
        width: 40%;
    }

    &_title{
        font-family: "Poppins", sans-serif;
        line-height: 1.0625;
        letter-spacing: -1.2px;
        font-size: 3.8rem;
    }

    &_subtitle{
        font-size: 3rem;
        font-weight: 200;
    }

    &_btn {
        display: flex;
        gap: 17px;
    }

    &_btn a{
        text-decoration: none;
    }

    &_btn1 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 6px;
        border: none;
        background-color: #f5d012;
        padding: 9px 18px;
        font-weight: 800;
        text-transform: uppercase;
        border-radius: 6px;
        transition: 0.4s;
        cursor: pointer;
    }

    &_btn1:hover{
        background-color: #26b7e3;
    }

    &_btn2 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 6px;
        border: none;
        background-color: none;
        padding: 9px 18px;
        font-weight: 800;
        text-transform: uppercase;
        border-radius: 6px;
        transition: 0.4s;
        cursor: pointer;
    }

    &_btn2:hover{
        background-color:#26b7e3;
    }

    &_rrss {
        display: flex;
        align-items: center;
        margin-top: 15%;
        gap: 17px;
    }

    &_rrss img{
       width: 35px;
       height: 35px;
       object-fit: cover;
    }

    &_img{
        width: 100%;
    }
}

nav {
    width: 100%;
    height: 5em;
    background-color: rgb(37, 39, 53);
    display: flex;
    justify-content: flex-start;
}

.burger-menu {
    height: 100%;
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    cursor: pointer;
    padding: 11px 13px;
}

.burger-bar {
    width: 3em;
    height: 0.2em;
    background-color: #555454;
    border-radius: 0.5em;
    color: #ffffff;
    z-index: 1;
}

.menu {
    width: 100%;
    height: 100%;
    background-color: #fffffff7;
    position: absolute;
    top: 0;
    margin-top: 10px;
}

/* ------------- sliding menu ------------------ */
.hidden {
    display: none;
}

.visible {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 1.6em;
    line-height: 5.2rem;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1){
    transform: rotate(45deg) translate(0.75em, 1.25em);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2){
    transform: scale(0.1);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3){
    transform: rotate(135deg) translate(-0.5em, 1em);
    transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

@media screen and (min-width: 0) and (max-width: 863px){
    .header{
        &_logo{
            width: 170px;
            margin-left: 15px;
        }

        &_title{
            font-size: 2.8rem;
        }

        &_subtitle{
            font-size: 1.9rem;
        }

        &_box{
            display: block;
            padding: 15px 15px;
        }

        &_little-box{
            width: 100%;
            padding-right: 0;
        }
        &_links{
            display: none;
        }
    }

}
@media screen and (min-width: 864px){
 .burger-menu{
    display: none;
 }
}