.header{
    background-color: #ffffff;
    height: 100%;
    margin-bottom: 50px;

    &_logo{
        width: 70px;
    }

    &_nav{
        background-color: #ffffff;
        color: #555454;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 6px 57px;
    }

    &_links {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }

    &_link{
        font-family: "Poppins", sans-serif;
        text-decoration: none;
        color: #555454;
        font-weight: 500;
        padding: 7px 17px;
        transition: 0.4s;
    }

    &_link:hover{
        background-color: #f5d012;
        border-radius: 4px;
    }

    &_box{
        display: flex;
        justify-content: space-around;
        padding: 15px 53px;
        gap: 40px;
        flex-wrap: wrap;
    }

    &_little-box{
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 7px;
        padding-right: 57px;
        width: 586px;
    }

    &_title{
        font-family: "Poppins", sans-serif;
        line-height: 1.0625;
        letter-spacing: -1.2px;
        font-size: 4rem;
    }

    &_btn {
        display: flex;
        gap: 17px;
    }

    &_btn a{
        text-decoration: none;
    }

    &_btn1 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 6px;
        border: none;
        background-color: #f5d012;
        padding: 9px 18px;
        font-weight: 800;
        text-transform: uppercase;
        border-radius: 6px;
        transition: 0.4s;
        cursor: pointer;
    }

    &_btn1:hover{
        background-color: #26b7e3;
    }

    &_btn2 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 6px;
        border: none;
        background-color: none;
        padding: 9px 18px;
        font-weight: 800;
        text-transform: uppercase;
        border-radius: 6px;
        transition: 0.4s;
        cursor: pointer;
    }

    &_btn2:hover{
        background-color:#26b7e3;
    }

    &_rrss {
        display: flex;
        align-items: center;
        margin-top: 15%;
        gap: 17px;
    }

    &_rrss img{
       width: 35px;
       height: 35px;
       object-fit: cover;
    }

    &_img{
        width: 100%;
    }
}