.footer{
    display: flex;
    background-color: #e8e8e8;
    padding: 25px 53px;
    flex-direction: column;
    align-items: center;


    &_details{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 100px;
    }

    &_links {
        display: flex;
        /* justify-content: space-evenly; */
        gap: 60px;
        flex-wrap: wrap;

        a {
            text-decoration: none;
            color: inherit;
            font-weight: 600;
        }
    }

    &_rrss {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 8px;

        img {
            width: 24px;
        }
    }
   &_txt{
        font-size: 0.8rem;
        font-weight: 500;
    }
}
