.footer{
    display: flex;
    background-color: #e8e8e8;
    padding: 25px 53px;
    flex-direction: column;
    align-items: center;


    &_details{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 100px;
        border-top: 1.5px solid #555454;
        padding: 7px 34px;
        margin-top: 10px;
        flex-wrap: wrap;
    }

    &_links {
        display: flex;
        /* justify-content: space-evenly; */
        gap: 60px;
        flex-wrap: wrap;

        a {
            text-decoration: none;
            color: inherit;
            font-weight: 600;
        }
    }

    &_rrss {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 8px;

        img {
            width: 24px;
        }
    }
   &_txt{
        font-size: 0.8rem;
        font-weight: 500;
    }
}

@media screen and (min-width: 0) and (max-width: 863px){
    .footer{
        padding: 15px 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        &_details {
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 22px;
        }
        
        &_links {
            display: flex;
            gap: 23px;
            flex-wrap: wrap;
        }
    }
    
}